body {
    background-color: rgb(23, 23, 23);
    font-family: "Poppins";
    color: white;
}
.navBar {
    position: relative;
    margin-top: 10vh;
    margin-left: 2%;
    display: flex;
    gap: 1rem;
    width: 45%;
    z-index: 2;
}
.search {
    appearance: none;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: rgba(249, 247, 247, 0.2) 0 3px 5px -1px, rgba(251, 250, 250, 0.14) 0 6px 10px 0, rgba(249, 247, 247, 0.12) 0 1px 18px 0;
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    cursor: pointer;
    display: inline-flex;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: normal;
    padding: 2px 24px;
    width: 100%;
    flex-grow: 1;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1);
    user-select: none;
    touch-action: manipulation;
}
.home, .Informacion, .acerca {
    background-color: #8bffcf;
    border-radius: 24px;
    box-shadow: rgba(199, 253, 255, 0.1) 0 3px 5px -1px, rgba(199, 253, 255, 0.07) 0 6px 10px 0, rgba(199, 253, 255, 0.06) 0 1px 18px 0;
    color: rgb(23, 23, 23);
    border: 1px solid rgb(23, 23, 23);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em 1.5em;
    line-height: 1.5;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1);
    width: auto;
}
.home:hover, .Informacion:hover, .acerca:hover {
    background-color: white;
    color: rgb(23, 23, 23);
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 12px -1px, rgba(0, 0, 0, 0.14) 0 12px 24px 0, rgba(0, 0, 0, 0.12) 0 2px 36px 0;
}
.contTitle {
    margin-left: 2%;
    width: 45%;
    position: absolute;
    top: 6vh;
}
.mainTitle {
    font-size: calc(5.5vw + 5.5vh + 2vmin);
    margin-bottom: -2vh;
    width: 100%;
}
.subTitle {
    font-size: calc(2.8vw + 2.8vh + 1vmin);
    margin-top: 0;
    margin-bottom: -1vh;
    width: 100%;
}
.text {
    font-size: calc(0.7vw + 0.7vh + 0.2vmin);
    text-align: justify;
    margin-top: 0;
}
.Linea {
    width: 100%;
    position: absolute;
}
.buttonCont {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    z-index: 2;
}
.logInBtn:hover {
    background-color: white;
    color: rgb(23, 23, 23);
}
.logInBtn {
    border: 1px solid #8bffcf;
    color: #8bffcf;
    background-color: rgb(23, 23, 23);
    width: auto;
    height: 5vh;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin-right: 5vh;
    margin-top: 2.5vh;
    font-size: 2.5vh;
    cursor: pointer;
    border-radius: 24px;
    box-shadow: rgba(249, 247, 247, 0.1) 0 3px 5px -1px, rgba(251, 250, 250, 0.07) 0 6px 10px 0, rgba(249, 247, 247, 0.06) 0 1px 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1);
    padding: 2px 24px;
}

.suscribe:hover {
    background-color: #29ff62;
    color: rgb(23, 23, 23);
}
.suscribe {
    border: 1px solid rgb(68, 255, 0);
    color: rgb(68, 255, 0);
    background-color: rgb(23, 23, 23);
    width: auto;
    height: 5vh;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin-right: 5vh;
    margin-top: 2.5vh;
    font-size: 2.5vh;
    cursor: pointer;
    border-radius: 24px;
    box-shadow: rgba(68, 255, 0, 0.2) 0 3px 5px -1px, rgba(68, 255, 0, 0.14) 0 6px 10px 0, rgba(68, 255, 0, 0.12) 0 1px 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1);
    padding: 2px 24px;
}
.logInCont {
    display: none;
    color: white;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo blanco semitransparente */
    width: 20%;
    top: 10vh;
    position: absolute;
    right: 30vh;
    z-index: 2;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 20px;
}
    .logInCont label {
        color: black; /* Texto blanco para las etiquetas */
    }

.imgContMain {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}


    /* Styling for the image */
    .imgContMain img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0; /* Initially invisible */
        transform: translateX(-100%); /* Initially off-screen to the left */
        transition: transform 1s ease-out, opacity 1s ease-out; /* Transition for both sliding and fading */
    }


.border {
    height: 100%;
    width: 10%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(23, 23, 23, 0.9));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
@media (max-width: 768px) {
    .buttonCont, .navBar {
        flex-direction: column;
    }
    .home, .Informacion, .acerca { 
        font-size: 0.8em;
        height: 2em;
    }
    .contTitle {
        margin-top: 15vh;
    }
    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
.dropArrow:hover {
    opacity: 0.8;
}
.dropArrow {
    background-image: url(images/homeDropArrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 5%;
    border: none;
    padding: 0;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1000;
}
