.custom-gridview {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

    .custom-gridview .header {
        background-color: #4CAF50;
        color: white;
        text-align: center;
        font-weight: bold;
        padding: 8px;
    }

    .custom-gridview .row, .custom-gridview .alt-row {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    .custom-gridview .alt-row {
        background-color: #f2f2f2;
    }

    .custom-gridview tr:hover {
        background-color: #ddd;
    }
